src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="createAccountsInSapFlow" doc:name="createAccountsInSapFlow">
		<collection-splitter doc:name="Collection Splitter" />
		<processor-chain doc:name="Processor Chain">
			<sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_GETINTNUMBER"
				xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
				responseTimeout="10000" doc:name="Get Next Customer Number from SAP">
                <sap:definition><![CDATA[<jco>
	<import>
		<field name="ACCOUNTGROUP">ZAG2</field>
	</import>
</jco>
]]></sap:definition>
			</sap:outbound-endpoint>
			<data-mapper:transform config-ref="BAPI_CUSTOMER_GETINTNUMBER_to_Customr_Number"
				doc:name="BAPI_CUSTOMER_GETINTNUMBER to Customr Number" />
			<expression-component doc:name="Expression"><![CDATA[payload['AccountGroup'] = '${sap.default.accountGroup}';]]></expression-component>
			<data-mapper:transform config-ref="Salesfore_Account_to_DEBMAS01"
				doc:name="Salesfore Account to DEBMAS01" />
			<sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="idoc" functionName="DEBMAS01" xmlVersion="2"
				outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000"
				doc:name="Create Customer in SAP" />
		</processor-chain>
		<collection-aggregator failOnTimeout="true"
			doc:name="Collection Aggregator" />
	</flow>

	<flow name="createAccountsInSalesforceFlow" doc:name="createAccountsInSalesforceFlow">
		<sfdc:create config-ref="Salesforce" type="Account"
			doc:name="Salesforce">
			<sfdc:objects ref="#[payload]" />
		</sfdc:create>
	</flow>
	<sub-flow name="retrieveAccountFromSapFlow" doc:name="retrieveAccountFromSapFlow">
		<sap:outbound-endpoint exchange-pattern="request-response"
			connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_FIND"
			xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
			responseTimeout="10000" doc:name="Find Customers in SAP">
            <sap:definition><![CDATA[<jco>
	<import>
		<field name="MAX_CNT">0</field>
		<field name="PL_HOLD">X</field>
	</import>
  	<tables>
		<table name="SELOPT_TAB">
			<row id="0">
				<field name="TABNAME">KNA1</field>
				<field name="FIELDNAME">NAME1</field>
				<field name="FIELDVALUE">#[org.apache.commons.lang3.StringEscapeUtils.escapeXml(payload['Name'])]</field>
			</row>
		</table>
	</tables>
</jco>
]]></sap:definition>
		</sap:outbound-endpoint>
		<data-mapper:transform config-ref="BAPI_CUSTOMER_FIND_to_Customer"
			doc:name="BAPI_CUSTOMER_FIND to Customer" />
	</sub-flow>
	<sub-flow name="deleteAccountsFromSapFlow" doc:name="deleteAccountsFromSapFlow">
		<foreach doc:name="For Each">
            <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ZMULE_CUSTOMER_DELETE" xmlVersion="2" outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000" doc:name="Delete Customer from SAP">
                <sap:definition><![CDATA[<jco>
	<import>
		<field name="I_CUSTOMER">#[payload]</field>
	</import>
</jco>
]]></sap:definition>
            </sap:outbound-endpoint>
		</foreach>
	</sub-flow>
	<sub-flow name="deleteAccountsFromSalesforceFlow" doc:name="deleteAccountsFromSalesforceFlow">
		<sfdc:delete config-ref="Salesforce" doc:name="Salesforce">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
	</sub-flow>
</mule>
